body{
padding: 0px;
margin: 0px;
}

.cal{
    background-color: rgba(243, 155, 24, 0.384);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 250px;
    border-radius: 5px;
}
input{
    height: 30px;
    border-radius: 5px;
}
button{
    background-color: rgb(235, 157, 40);
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
.clear button{
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}